/**
 *  filename: MDSimpleGrouping.plist
 *  created : Fri Jun  4 14:17:32 2004
 *  @author : Vince Demarco <demarco@apple.com>
 *  LastEditDate Was "Wed May  4 15:25:17 2005"
 *
 */

{
    "public.movie"							  = "MOVIES";
    "com.apple.quicktime-movie"				  = "MOVIES";
    "public.mpeg-video"						  = "MOVIES";
    "public.mpeg-4"							  = "MOVIES";
    "public.mpeg"							  = "MOVIES";
    "public.3gpp"							  = "MOVIES";
    "public.3gpp2"							  = "MOVIES";

    "public.email-message"					  = "EMAIL";
    "com.apple.mail.emlx"					  = "EMAIL";
	"com.microsoft.entourage.virtual.message" = "EMAIL";

    "public.image"							  = "IMAGES";

    "com.apple.application"					  = "APPLICATIONS";
    "com.apple.application-bundle"			  = "APPLICATIONS";
    "com.apple.application-file"			  = "APPLICATIONS";
    "com.apple.dashboard-widget"			  = "APPLICATIONS";
    "com.sun.java-archive"					  = "APPLICATIONS";

    "public.folder"							  = "DIRECTORIES";
    "com.apple.mount-point"					  = "DIRECTORIES";

    "public.audio"							  = "MUSIC";
    "public.mpeg-4-audio"					  = "MUSIC";
    "com.apple.protected-mpeg-4-audio"		  = "MUSIC";

    "com.adobe.pdf"							  = "PDF";

    "public.contact"						  = "CONTACT";
    "com.apple.addressbook.person"			  = "CONTACT";
    "com.apple.addressbook.group"			  = "CONTACT";
	"com.microsoft.entourage.virtual.contact" = "CONTACT";
	"com.microsoft.entourage.virtual.group"	  = "CONTACT";

    "com.apple.systempreference.prefpane"	  = "SYSTEM_PREFS";

    "public.to-do-item"						  = "EVENT_TODO";
    "public.calendar-event"					  = "EVENT_TODO";
    "com.apple.ical.bookmark"				  = "EVENT_TODO";
    "com.apple.ical.bookmark.todo"			  = "EVENT_TODO";
	"com.microsoft.entourage.virtual.event"   = "EVENT_TODO";
	"com.microsoft.entourage.virtual.task"    = "EVENT_TODO";

    "public.font"							  = "FONTS";

    "public.presentation"					  = "PRESENTATIONS";
    "com.microsoft.powerpoint.ppt"			  = "PRESENTATIONS";
    "com.apple.keynote.key"					  = "PRESENTATIONS";
    "com.apple.iwork.keynote.key"			  = "PRESENTATIONS";

    "com.apple.safari.bookmark"				  = "BOOKMARKS";
	"public.url"							  = "BOOKMARKS";
}

