<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appearance</key>
	<dict>
		<key>SidebarPosition</key>
		<string>RIGHT</string>
	</dict>
	<key>Results</key>
	<dict>
		<key>CollapsedGroups</key>
		<array/>
		<key>CurrentDisplayModes</key>
		<dict/>
		<key>DisplayModes</key>
		<dict>
			<key>AlbumMode</key>
			<array>
				<string>MUSIC</string>
			</array>
			<key>IconMode</key>
			<array>
				<string>PRESENTATIONS</string>
				<string>PDF</string>
				<string>IMAGES</string>
			</array>
			<key>VCardMode</key>
			<array>
				<string>CONTACT</string>
			</array>
		</dict>
	</dict>
	<key>TagCloud</key>
	<dict>
		<key>sortKey</key>
		<string>name</string>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
