<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>General.Sidebar.Position</key>
	<integer>1</integer>
	<key>General.Sidebar.Enabled</key>
	<false/>
	<key>General.StatusItem.Enabled</key>
	<true/>
	<key>General.StartOnLogin</key>
	<false/>
	<key>General.Hotkey.Tagger.KeyCode</key>
	<integer>-1</integer>
	<key>Appearance.InfoPane.Active</key>
	<string>INFO</string>
	<key>ManageFiles.ManagedFolder.Enabled</key>
	<false/>
	<key>ManageFiles.ManagedFolder.Location</key>
	<string>~/Library/Application Support/Punakea/Files/</string>
	<key>ManageFiles.TagsFolder.Enabled</key>
	<true/>
	<key>ManageFiles.TagsFolder.Location</key>
	<string>~/Documents/Punakea/Tags/</string>
	<key>ManageFiles.DropBox.Enabled</key>
	<false/>
	<key>ManageFiles.DropBox.Location</key>
	<string>~/Documents/Punakea/Drop Box/</string>
	<key>ManageFiles.DropBox.Tags</key>
	<array>
		<string>untagged</string>
	</array>
	<key>PAScheduledUpdateCheckInterval</key>
	<integer>0</integer>
	<key>Results</key>
	<dict>
		<key>CollapsedGroups</key>
		<array/>
		<key>CurrentDisplayModes</key>
		<dict/>
		<key>DisplayModes</key>
		<dict>
			<key>AlbumMode</key>
			<array>
				<string>MUSIC</string>
			</array>
			<key>IconMode</key>
			<array>
				<string>PRESENTATIONS</string>
				<string>PDF</string>
				<string>IMAGES</string>
			</array>
			<key>VCardMode</key>
			<array>
				<string>CONTACT</string>
			</array>
		</dict>
	</dict>
	<key>SourcePanel</key>
	<dict>
		<key>ExpandedItems</key>
		<array/>
	</dict>
	<key>SUCheckAtStartup</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>TagCloud.ClickCountWeight</key>
	<real>0.5</real>
	<key>TagCloud.SortKey</key>
	<integer>0</integer>
</dict>
</plist>
