<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appearance.SidebarPosition</key>
	<integer>1</integer>
	<key>General.LoadSidebar</key>
	<true/>
	<key>General.LoadStatusItem</key>
	<true/>
	<key>General.HideDockIcon</key>
	<false/>
	<key>General.ManageFiles</key>
	<false/>
	<key>General.ManagedFilesLocation</key>
	<string>~/Documents/punakea files/</string>
	<key>General.StartOnLogin</key>
	<false/>
	<key>PAScheduledUpdateCheckInterval</key>
	<integer>0</integer>
	<key>Results</key>
	<dict>
		<key>CollapsedGroups</key>
		<array/>
		<key>CurrentDisplayModes</key>
		<dict/>
		<key>DisplayModes</key>
		<dict>
			<key>AlbumMode</key>
			<array>
				<string>MUSIC</string>
			</array>
			<key>IconMode</key>
			<array>
				<string>PRESENTATIONS</string>
				<string>PDF</string>
				<string>IMAGES</string>
			</array>
			<key>VCardMode</key>
			<array>
				<string>CONTACT</string>
			</array>
		</dict>
	</dict>
	<key>SourcePanel</key>
	<dict>
		<key>ExpandedItems</key>
		<array/>
	</dict>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>TagCloud.ClickCountWeight</key>
	<real>0.5</real>
	<key>TagCloud.EyeCandy</key>
	<false/>
	<key>TagCloud.SortKey</key>
	<string>name</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
