<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>General.TagDB.Location</key>
	<string>~/Library/Application Support/Punakea/DB/tags</string>
	<key>ManageFiles.ManagedFolder.Enabled</key>
	<false/>
	<key>ManageFiles.ManagedFolder.Location</key>
	<string>~/Library/Application Support/Punakea/Files/</string>
	<key>ManageFiles.TagsFolder.Enabled</key>
	<false/>
	<key>ManageFiles.TagsFolder.Location</key>
	<string>~/Documents/Punakea/Tags/</string>
	<key>ManageFiles.TagsFolder.Depth</key>
	<integer>3</integer>
</dict>
</plist>
